.stickers-page {
    .banner {
        background-size: cover !important;
        background: url("../../../assets/images/stickers/stickers.jpeg") left center;
        h1 {
            color: white;
            z-index: 1;
            font-size: var(--font-size-xl);
            font-family: var(--font-family-semibold);
            text-shadow: -1px 1px 2px var(--main-color);

            @media screen and (max-width: 768px) {
                font-size: var(--font-size-l);
            }
        }

        &:before {
            background-image: linear-gradient(to bottom right, #002f4b, var(--main-color));
            opacity: 0.5;
        }
    }

    .content-container {
        margin-top: 1rem;
    }
}
