<section class="stickers-page">
    <div class="banner">
        <h1>Stickers</h1>
    </div>


    <div class="section">
        <div class="section__content">
            <h1>
                Stickers
            </h1>
            <p>
                Heeft u wat meer visibiliteit nodig op andere oppervlakten dan op textiel? Wenst u uw naam of logo
                ergens te plaatsen waardoor uw naambekenheid verspreid wordt?
                Dan heeft B-prints de perfecte oplossing voor u, namelijk `stickers`. Op deze manier heeft u voor een
                scherpe prijs en weinig moeite onmiddellijk resultaat.
                Wij voorzien stickers op verschillende plaatsen voor zowel kleine als grote organisaties.
            </p>

            <p>
                Deze stickers bieden we aan:
            </p>
            <ul>
                <li>Stickers op uw voertuigen (zie ook <a routerLink="/belettering">belettering</a>)</li>
                <li>Raam decoratie</li>
                <li>Muur sitckers</li>
            </ul>

            <p>
                Op deze manier kunt u uw visibiliteit vergroten van uw organisatie of bedrijf. <br />
                Mocht u nog andere vragen hebben of een meer gedetaileerde offerte. Aarzal niet en <a
                    routerLink="/contact">contacteer ons.</a>
            </p>
        </div>

        <div class="section__image">
            <img src="./assets/images/stickers/coppens.jpg" />
        </div>
    </div>

    <div class="section">
        <div class="section__image">
            <img src="./assets/images/stickers/sinature.jpg" />
        </div>
        <div class="section__content">
            <h1>
                Stickers op uw voertuig
            </h1>
            <p> Bent u vaak onderweg en wilt u uw naambekenheid onder handen nemen? Dan is dit de perfecte oplossing
                voor u.
            </p>

            <p>
                Een meer gedetaileerde omschrijving vindt u onder het tabblad <a routerLink="/contact">belettering.</a>
            </p>
        </div>
    </div>

    <div class="section">
        <div class="section__content">
            <h1>
                Raam decoratie
            </h1>
            <p>
                Een van de beste manieren om uw organisatie meer naam bekendheid te geven, is meer visibiliteit te geven
                die onmiddellijk opvalt wanneer mensen voorbij uw organistatie passeren.
            </p>

            <p>Raam decoratie is hier een heel elegante en snelle oplossing voor. We zouden uw logo of slogan op uw ruit
                kunnen plaatsen, zodat mensen in één opslag uw organisatie ontdekken. Op deze manier verkrijgt u een
                professionele uitstraling en onderscheid u zich van anderen!
            </p>

        </div>
        <div class="section__image">
            <img src="./assets/images/stickers/window_sticker.jpg" />
        </div>
    </div>

    <div class="section">
        <div class="section__image">
            <img src="./assets/images/stickers/muur_stickers.jpg" />
        </div>
        <div class="section__content">
            <h1>
                Muur stickers
            </h1>
            <p>
                Heeft u een leuke quote of tekst waarvan u denkt dat dit een meerwaarde kan bieden aan uw omgeving?
                Of ziet u liever uw logo of een andere sticker ergens in uw omgeving hangen? Dan zit u hier goed!
            </p>

            <p>
                B-prints kan u hierin verder helpen! Laat uw creatieve geest zijn gang gaan in de vorm van een sticker.
                En wij helpen u graag verder om dit te realiseren.
                Aarzel dus zeker niet om ons te contacteren hiervoor!
            </p>
        </div>

    </div>
</section>