<section class="promos-page">
    <div class="banner">
        <h1>Onze promo's</h1>
    </div>


    <div class="section">
        <div class="section__content">
            <h1>
                Vrijgezellen/feestjes
            </h1>
            <p> Voor de vrijgezellen feestjes/weekends hebben we besloten dat er één t-shirt <b>gratis</b> zal gemaakt
                worden.
            </p>

            <p>
                Mocht u nog andere vragen hebben of een meer gedetaileerde offerte. Aarzal niet en neem zeker een kijkje
                op onze <a routerLink="/contact">contact pagina</a>.
            </p>
        </div>
        <div class="section__image">
            <img src="./assets/images/promos/bride_shirt.jpg" />
        </div>
    </div>

</section>