<section class="promos-page">
    <div class="banner">
        <h1>Onze promo's</h1>

    </div>

    <div class="description">
        Let op deze promo's zijn niet combineerbaar!
    </div>

    <div class="section">
        <div class="section__image">
            <img src="./assets/images/promos/shirts.jpg" />
        </div>
        <div class="section__content">
            <h1>
                Bestel 10 truien, ontvang de 11e gratis!
            </h1>
        </div>

    </div>

    <div class="section">

        <div class="section__content">
            <h1>
                Vrijgezellen/feestjes
            </h1>
            <p> Voor de vrijgezellen feestjes/weekends hebben we besloten dat er één t-shirt <b>gratis</b> zal
                gemaakt
                worden voor het feestvarken!
            </p>
        </div>
        <div class="section__image">
            <img src="./assets/images/promos/bride_shirt.jpg" />
        </div>
    </div>

    <div class="section">
        <div class="section__image">
            <img src="./assets/images/promos/handshake.jpeg" />
        </div>
        <div class="section__content">
            <h1>
                Sponsoring nodig?
            </h1>
            <p>Laat even weten wat we voor elkaar kunnen betekenen.
            </p>
            <a routerLink="/contact">
                <div class="cta">
                    Contacteer ons
                    <span class="icon ion-ios-arrow-forward"></span>
                </div>
            </a>
        </div>


    </div>

</section>