<footer class="footer">
    <div class="footer-devider"></div>
    <div class="footer-container">
        <div *ngIf="isMobile" class="mobile-footer-text">
            &copy; B-prints - 2020
        </div>

        <div class="desktop-container" *ngIf="!isMobile">
            <div class="description-column">
                <h2 class="description-column__logo">B-PRINTS</h2>
                <div class="description-column__description">
                    Nood aan meer visibiliteit, een leuke foto aan de muur of gepersonaliseerde kledij?
                    Dan zit je goed bij ons! B-prints is gespecialiseerd in gepersonaliseerde prints op al uw producten.
                </div>
                <div class="description-column__contact">
                    <div class="contact__item"><span class="icon ion-ios-call"></span> 0495/40.55.99 </div>
                    <div class="contact__item"><span class="icon ion-ios-mail"></span> bram@b-prints.be </div>
                    <div class="contact__item"><span class="icon ion-ios-home"></span>
                        <div>
                            <div>Doornikse heerweg 2</div>
                            <div>9700 Oudenaarde</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="links-column">
                <h2>Pagina's</h2>
                <ul>
                    <li><a routerLink="/home">Home</a></li>
                    <li *ngFor="let link of links">
                        <a *ngIf="link.path" [routerLink]="link.path"> {{link.text}} </a>
                    </li>
                </ul>
            </div>

            <div class="social-media-column">
                <h2>Volg ons ook</h2>
                <div class="icon ion-logo-facebook"></div>

            </div>
        </div>

    </div>
    <div class="copyright" *ngIf="!isMobile">
        &copy; B-prints - 2020
    </div>
</footer>