<section class="home">
    <div class="home__banner" #banner>
        <div class="banner__container">
            <div class="banner__container__text">
                Maatwerk in printen
            </div>
            <div class="banner__container__cta" (click)="navigateToProducts()">
                Onze producten
                <span class="icon ion-ios-arrow-forward"></span>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section__content">
            <h1>
                Wie zijn we?
            </h1>
            <p> Nood aan meer visibiliteit, een leuke foto aan de muur of gepersonaliseerde kledij? <br />
                Dan zit je goed bij ons!
                B-prints is een organisatie opgericht door Bram Gevaert en Ellen Cool die personalisatie
                aanbiedt voor uw verschillende producten.
                We voorzien oplossingen in verschillende maten en vormen. <br />
                We zijn gespecialiseerd in:
            </p>
            <ul>
                <li>Bedrukking van kledij</li>
                <li>Stickers</li>
                <li>Raam decoratie</li>
                <li>Carwraps</li>
                <li>Sublimatie</li>
                <li>...</li>
            </ul>
        </div>

        <div class="section__image">
            <img src="./assets/images/home/me.jpg" />
        </div>
    </div>


    <div class="section">
        <div class="section__image">
            <img src="./assets/images/home/handshake.jpeg" />
        </div>
        <div class="section__content">
            <h1>
                Hoe bestel je bij ons?
            </h1>

            <p>
                De beste manier om bij ons te bestellen is via mail. Hier in kan je ons vragen stellen over producten of
                een bestelling plaatsen.
            </p>

            <p>Je kan ons bereiken via het mail adres
                <b>bram@b-prints.be</b> of via onze contact pagina. <br /> Voor dringende zaken kan je ons telefonisch
                bereiken via
                <b>0495/40.55.99</b>.
            </p>

            <p>We hebben natuurlijk ook een facebook pagina! Aarzel niet om ons te liken, we beloven je niet te
                overwelmen met berichten!
            </p>
            <a href="https://www.facebook.com/bprintsbelgium" target="_blank">
                <div class="cta">
                    Ontdek onze facebook pagina
                    <span class="icon ion-ios-arrow-forward"></span>
                </div>
            </a>
        </div>

    </div>


    <div class="section">
        <div class="section__content">
            <h1>
                Historiek
            </h1>

            <p>B-prints is opgericht na een sport project waarbij ik instond voor de kledij en de bedrukkingen ervan.
                Initieel was het de bedoeling om het enkel voor die sportprojecten te gebruiken. Maar de bal ging al
                snel
                aan het rollen.</p>

            <p>
                En na 5 jaar zijn we nu met twee die hier dagelijks met veel inzet mee bezig zijn.
                We komen van een kleine kamer waar slechts een kleine printer kon, naar een eigen druk kamer en een
                grote
                opslagplaats. Wie weet wat brengt de toekomst nog!


            </p>
        </div>

        <div class="section__image">
            <img src="./assets/images/home/logo_green.png" />
        </div>

    </div>



</section>