.category-card {
    .category-card__image-container {
        position: relative;
        width: 15vw;
        height: 25vh;
        overflow: hidden;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 768px) {
            width: 25vw;
            min-height: 25vh;
            max-height: 30vh;
            height: unset;
        }
        .image-container__img {
            height: 85%;
            width: 85%;
            margin: 1rem 0;
            padding-bottom: 1rem;

            @media screen and (max-width: 768px) {
                padding-bottom: 2.5rem;
            }
        }
        .category-card__description {
            position: absolute;
            top: 0;
            left: 1rem;
            right: 1rem;
            bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            font-family: var(--font-family-semibold);
            align-self: flex-end;

            @media screen and (max-width: 768px) {
                font-size: var(--font-size-xs);
                left: 0.5rem;
                right: 0.5rem;
            }
        }
    }
}
