<section class="products-page">
    <div class="banner">
        <h1>Onze diensten</h1>
    </div>

    <div class="content-container">

        <div class="content-container__section texitle">
            <div class="textile__title">
                <h1>Textiel</h1>
                <p>Hier kunt u kiezen uit een aantal stijlvolle shirts, hoodies, topjes of sportkledij om te
                    bedrukken. Je kan bestellen via onze <a routerLink="/contact">contact pagina</a>.
                </p>
            </div>

            <div class="textile__products">

                <div class="products__product textile" (click)="navigateToTextilePage()">
                    <!-- Textiel -->
                    <app-category-card [imagePath]="textileCard.imagePath" [description]="textileCard.description"
                        [backgroundColor]="textileCard.backgroundColor">
                    </app-category-card>
                </div>

                <div class="products__product lettering" (click)="navigateToPrintingPage()">
                    <!-- Bedrukking (opdruk en borduren) -->
                    <app-category-card [imagePath]="printingCard.imagePath" [description]="printingCard.description"
                        [backgroundColor]="printingCard.backgroundColor">
                    </app-category-card>
                </div>

                <div class="products__product stiches">
                    <!-- Baches -->
                    <app-category-card [imagePath]="bachesAndFlagsCard.imagePath"
                        [description]="bachesAndFlagsCard.description"
                        [backgroundColor]="bachesAndFlagsCard.backgroundColor">
                    </app-category-card>
                </div>
            </div>
        </div>

        <div class="content-container__section">
            <div class="section__content">
                <h1>Stickers</h1>
                <p>
                    Naast de verkoop van shirts en andere kledij, bieden we `op maat gemaakte` stickers aan!
                    Volgende stickers bieden we aan:
                </p>

                <ul>
                    <li>Autostickers</li>
                    <li>Raam decoratie</li>
                    <li>Carwraps</li>
                    <li>Vloer stickers</li>
                    <li>Behangpapier</li>
                </ul>


                <div class="cta" (click)="navigateToStickers()">
                    Ontdek deze diensten
                    <span class="icon ion-ios-arrow-forward"></span>
                </div>
            </div>

            <div class="section__image">
                <img src="./assets/images/products/cards/sitckers-card.jpg" />
            </div>
        </div>


        <div class="content-container__section">
            <div class="section__image">
                <img src="./assets/images/products/cards/specialties-card.jpg" />
            </div>
            <div class="section__content">
                <h1>Promo's</h1>

                <p>
                    We hebben natuurlijk ook onze promo's zoals vrijgezellen kledij, sportclubs en sponsoringen.
                    Wil je hier meer over weten?
                </p>

                <div class="cta" (click)="navigateToSpecials()">
                    Ontdek onze promo's
                    <span class="icon ion-ios-arrow-forward"></span>
                </div>

            </div>
        </div>
    </div>
</section>