<section class="price-page">
    <div class="banner">
        <h1>Onze prijzen</h1>
    </div>


    <div class="description">

        Omdat wij graag open en duidelijk communiceren, geven wij ook meteen onze prijzen, dan weet u meteen waar u
        aan
        toe bent zonder verborgen kosten.
        Prijzen exclusief btw. <br />
        <br />
        Heeft u nog vragen? Aarzel niet en contacteer ons!

    </div>

    <div class="price-page__content-container">
        <div class="content-container__item textile">
            <h1>Textiel</h1>

            <div class="item__content">
                <div class="content-container__price">GRATIS</div>
                Opstartkost met onze kledij of producten
            </div>
            <div class="item__content">
                <div class="content-container__price">&euro; 25</div>
                Opstartkost met eigen kledij of producten
            </div>

            <div class="item__content">
                <div class="content-container__price">1 stuk GRATIS</div>
                10 stukken bestellen of vrijgezellen feest?
            </div>
        </div>

        <div class="content-container__item lettering">
            <h1>Bedrukking en Borduren</h1>
            <div class="item__content">
                <div class="content-container__price">&euro; 2,20</div>
                Bedrukken Klein logo 1 kleur wit of zwart
            </div>
            <div class="item__content">
                <div class="content-container__price">&euro; 3</div>
                Bedrukken Groot logo 1 kleur wit of zwart
            </div>
            <div class="item__content">
                <div class="content-container__price">+ &euro; 0,50</div>
                Bedrukken Groot logo 1 kleur wit of zwart
            </div>
            <div class="item__content">
                <div class="content-container__price">&euro; 7</div>
                Geborduurd klein logo
            </div>
        </div>

        <div class="content-container__item stiches">
            <h1>Spandoeken</h1>

            <div class="item__content">
                <div class="content-container__price">&euro; 40</div>
                Wind doorlatend dranghekken
            </div>
            <div class="item__content">
                <div class="content-container__price">&euro; 50</div>
                Wind doorlatend heras hekken
            </div>
        </div>
    </div>

</section>