<section class="realizations-page">
    <div class="banner">
        <h1>Onze realisaties</h1>
    </div>

    <div class="section">
        <div class="section__content">
            <h1>
                Lorem ipsum
            </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur.
            </p>
        </div>
        <div class="section__image">
            <img src="./assets/images/promos/bride_shirt.jpg" />
        </div>
    </div>


</section>