<section class="baches-and-flags-page">
    <div class="banner">
        <h1>Baches en vlaggen</h1>
    </div>

    <div class="section">
        <div class="section__content">
            <h1>
                Baches en vlaggen
            </h1>
            <p>
                Vindt u ook niet dat uw naam of logo langs te baan een meerwaarde creëert? Wij denken van wel en daarom
                helpen wij u graag verder! Via een
                bache of vlag kunt u uw naambekendheid onder handen nemen!
            </p>

            <p>Op deze manier heeft u een iets permanentere oplossing om uw naambekendheid te verspreiden. En creëert u
                een professionele uitstraling naar uw klanten!
                Graag helpen wij u graag verder met uw zoektocht naar een manier om meer visibiliteit te verkrijgen!
                Vergeet daarom ook niet een kijkje te nemen bij onze <a routerLink="/stickers">stickers</a>.
            </p>

            <p>Heeft hier nog meer vragen over? Aarzel niet om ons te contacteren via onze <a
                    routerLink="/contact">contact pagina</a></p>
        </div>
        <div class="section__image">
            <img src="./assets/images/baches/biomar_bach.jpg" />
        </div>

    </div>



</section>