<section class="printing-page">
    <div class="banner">
        <h1>Bedrukkingen</h1>
    </div>

    <div class="section">
        <div class="section__content">
            <h1>
                Onze bedrukkingen
            </h1>
            <p> Naast de bedrukkingen op textiel, kunnen wij u verder helpen met `op maat gemaakte bedrukking` op
                andere
                zaken.
                Zo bieden wij onze bedrukkingen aan in deze vormen:
            </p>
            <ul>
                <li>Auto belettering</li>
                <li>Opdruk en borduren</li>
            </ul>

            <p>
                Op deze manier kunt u uw visibiliteit vergroten van uw organisatie of bedrijf. <br />
                Wilt uw meer weten over de prijs? Dan kunt u de standaardprijzen terug vinden bij het tabblad
                prijzen <a routerLink="/prijslijst"> onze prijslijst </a>.
            </p>

            <p>Mocht u nog andere vragen hebben of een meer gedetaileerde offerte. Aarzal niet en <a
                    routerLink="/contact">contacteer ons.</a></p>
        </div>

        <div class="section__image">
            <img src="./assets/images/printing/letter.jpg" />
        </div>
    </div>

    <div class="section">
        <div class="section__image">
            <img src="./assets/images/printing/belettering_auto.jpg" />
        </div>
        <div class="section__content">
            <h1>
                Auto belettering
            </h1>
            <p> Bent u vaak onderweg en wilt u uw naambekenheid onder handen nemen? Dan is dit de perfecte oplossing
                voor u.
            </p>
            <p>
                Een wrap is niet alleen visueel maar het beschermt ook uw wagen tegen eventuele roest. Zo zal uw wagen
                meer waarde hebben bij een eventuele verkoop.
            </p>

            <p>
                Ook hierbij worden <b>geen instelkosten</b> aangerekend.
            </p>

            <p>
                Wij hebben een eigen plaatsingsdienst, maar het is ook mogelijk om de stickers zelf aan te brengen.
                B-prints helpt u graag verder met belettering op uw wagen zodat uw organisatie overal zichtbaar is.
            </p>

        </div>


    </div>

    <div class="section">
        <div class="section__content">
            <h1>
                Opdruk en borduren
            </h1>
            <p>
                Heeft u nog textiel die een iets permanentere bedrukking nodig heeft. Dan voorzien wij ook opdrukken en
                borduurwerk. Op deze manier kunt u uw naambekenheid vergroten op een langer termijn.
            </p>

            <p>
                Onze eerdere realisaties kunt u ook terugvinden onder het tabblad <a
                    routerLink="/realisaties">realisaties</a>.
            </p>
        </div>

        <div class="section__image">
            <img src="./assets/images/printing/stich.jpg" />
        </div>
    </div>
</section>