.textile-page {
    .banner {
        background-size: cover !important;
        background: url("../../../assets/images/products/products.jpg") center top;
        h1 {
            color: white;
            z-index: 1;
            font-size: var(--font-size-xl);
            font-family: var(--font-family-semibold);
            text-shadow: -1px 1px 2px var(--main-color);
        }

        &:before {
            background-image: linear-gradient(to bottom right, #002f4b, var(--main-color));
            opacity: 0.5;
        }
    }

    .content-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 1rem var(--padding-left-desktop);

        @media screen and (max-width: 768px) {
        }
    }
}
