<section class="textile-page">

    <div class="description">
        Deze prijzen zijn exclusief btw. <br />
        <br />
        Heeft u nog vragen? Aarzel niet en contacteer ons!
    </div>
    <div class="content-container">
        <h1>T-Shirts</h1>
        <app-product-list [products]="tShirts" (onNavigateToDetail)="navigateToDetail($event)">
        </app-product-list>
    </div>

    <div class="content-container">
        <h1>Hoodies</h1>
        <app-product-list [products]="hoodies" (onNavigateToDetail)="navigateToDetail($event)">
        </app-product-list>
    </div>

    <div class="content-container">
        <h1>Sport</h1>
        <app-product-list [products]="sportShirt" (onNavigateToDetail)="navigateToDetail($event)">
        </app-product-list>
    </div>

    <!-- <div class="content-container">
        <h1>Slim Fit Shirts</h1>
        <app-product-list [products]="slimFitShirts" (onNavigateToDetail)="navigateToDetail($event)">
        </app-product-list>
    </div> -->
    <!-- 
    <div class="content-container">
        <h1>Basic Shirts</h1>
        <app-product-list [products]="basicShirts" (onNavigateToDetail)="navigateToDetail($event)">
        </app-product-list>
    </div> -->



    <!-- <div class="content-container">
        <h1>Sport Shirts</h1>
        <app-product-list [products]="sportShirt" (onNavigateToDetail)="navigateToDetail($event)">
        </app-product-list>
    </div> -->

    <div class="content-container">
        <h1>Topjes</h1>
        <app-product-list [products]="tops" (onNavigateToDetail)="navigateToDetail($event)">
        </app-product-list>
    </div>

</section>