.toolbar-container {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: white;
    z-index: 2;

    .toolbar-container__nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: var(--nav-bar-height-mobile);
        box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.24);

        a {
            cursor: pointer;
            #logo {
                height: 65px;
                width: 85px;
                margin-left: var(--padding-left-desktop);
                background-image: url("../../../../assets/images/logo_green.png");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
            }
        }
    }
}