:root {
    --main-color: #1a2a1e;
    --second-color: #91b498;
    --tint-color: #f9f871;
    --footer-color: #6a9a8b;
    --card-background-color: #f7f8f9;
    --nav-bar-height: 125px;
    --nav-bar-height-mobile: 95px;
    --nav-bar-color: #999997;
    --light-grey: #f5f5f5;

    --font-size-xl: 2.5em;
    --font-size-l: 1.6em;
    --font-size-m: 1.2em;
    --font-size-r: 1rem;
    --font-size-s: 0.875rem;

    --font-family-regular: "OpenSans-Regular";
    --font-family-light: "OpenSans-Light";
    --font-family-bold: "OpenSans-Bold";
    --font-family-semibold: "OpenSans-SemiBold";

    --padding-left-desktop: 5vw;
}
